.block-all-news {
    /*display: flex;*/
    /*column-gap: 10px;*/
    /*row-gap: 60px;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*margin-bottom: 70px;*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );*/
    column-gap: 30px;
    row-gap: 60px;

}
.block-news{
    max-width: 446px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    word-break: break-word;
}
.news-img:hover{
    box-shadow: 0px 0px 10px 0 rgba(183, 202, 208, 0.55);
    border-radius: 10px;
}
.news-img {
    cursor: pointer;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
}
.block-news-date {
font-size: 14px;
font-weight: 400;
color: #6C786A;
}
.block-news-title:hover {
    color: #6C786A;
}







.scrollGoods {
margin-top: 30px;
display: flex;
flex-wrap: wrap;
align-items: center;
flex-direction: row;
justify-content: space-between;
gap: 20px;
}
.scroll {
display: flex;
align-items: center;
flex-direction: row;
justify-content: flex-end;
column-gap: 10px;
}
.number-page {
align-items: center;
column-gap: 10px;
font-size: 16px;
color: #6C786A;
font-weight: 400;
display: flex;
flex-direction: row;
}
.this-page {
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
border-radius: 10px;
background-color: white;
border: 1px solid #E5E5E5;
}

.showMore {
background-color: #DCE7D1;
color: #6C786A;
border-radius: 5px;
border: none;
height: 60px;
width: 260px;
font-family: 'Inter';
font-size: 18px;
font-weight: 500;
cursor: pointer;
}
.rightLink, .leftLink {
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
border-radius: 10px;
background-color: #DCE7D1;

}

.showMore:hover, .rightLink:hover, .leftLink:hover {
box-shadow: 0 6px 10px 0 #B7CAD033;
border: 1px solid #E5E5E5;
}



